body {
  background-color: #e9f4ec;
  margin: 0;
  padding: 0;
}

h1 {
  color: #6b5c43;
  font-family: "system-ui";
  font-size: 36px;
}

h2 {
  color: #6b5c43;
  font-family: sans-serif;
  font-size: 30px;
}

.title-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1e26f;
  box-shadow: rgb(17 17 26 / 5%) 0px 1px 0px, rgb(17 17 26 / 10%) 0px 0px 8px;
  height: 90px;
  width: 100%;
}

.button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 415px;
  width: 800px;
  flex-direction: column;
  background-color: #ffffff;
  margin: auto;
  margin-top: 100px;
  border-radius: 10px;
  box-shadow: rgb(17 17 26 / 5%) 0px 1px 0px, rgb(17 17 26 / 10%) 0px 0px 8px;
}

select {
  width: 212px;
  height: 90px;
  background-color: white;
  font-size: 30px;
  font-family: sans-serif;
  color: #000000;
  font-weight: bold;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  border-color: #ffd050;
  padding-left: 10px;
}

.submit-btn {
  background-color: #009770;
  font-size: 30px;
  font-family: sans-serif;
  color: white;
  width: 212px;
  height: 65px;
  font-weight: bold;
  text-align: center;
  border: 1px solid;
  border-radius: 10px;
  margin-top: 20px;
}

.submit-btn:active {
  background-color: #008160;
  color: #ffffff;
  border: 0;
}

.month-and-villagers {
  text-align: center;
  width: 700px;
  height: 300px;
  margin: auto;
  font-family: sans-serif;
}

.all-villagers {
  background-color: white;
  box-shadow: rgb(17 17 26 / 5%) 0px 1px 0px, rgb(17 17 26 / 10%) 0px 0px 8px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 50px;
}

.single-villager {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.villager-and-tops {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.tops-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  box-shadow: rgb(17 17 26 / 5%) 0px 1px 0px, rgb(17 17 26 / 10%) 0px 0px 8px;
}

.tops-title {
  background-color: #cbf3f0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tops-outer-container {
  display: flex;
  width: 1080px;
  gap: 50px;
  margin-bottom: 100px;
}
